<!DOCTYPE html>
<html>
  <head>
    <title>CDOTt</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>



  <body>

<!-- fake navbar -->
   <h1> <%= image_tag "download.jpg", :quality=>100, :radius=>0, height: 30 %>C.T - Navbar <%= image_tag "download.jpg", :quality=>100, :radius=>0, height: 30 %></h1>


    <%= yield %>



    <p> A simple footer</p>
  </body>
</html>
